name: K6 Performance Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule: 
   - cron: '0 8 * * 1'   # Auto: Every Monday at 8 AM UTC
  workflow_dispatch:     # Manual: Click "Run workflow" button
     inputs:
      test_type:
       required: true
       default: 'load'
       type: choice
       options:
        - load
        - spike
      virtual_users:
        required: true
        default: '30'
        type: string
      max_vus:
        description: 'Max VUs for spike test'
        required: true
        default: '100'
        type: string
    

jobs:
  k6-tests:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
       token: ${{ secrets.GITHUB_TOKEN }}
       fetch-depth: 0
      
    - name: Custom variables used in this run
      run:  |
        echo "TEST_TYPE is ${{ vars.TEST_TYPE || github.event.inputs.test_type || 'load' }}"
        echo "VIRTUAL_USERS is ${{ github.event.inputs.virtual_users || '30' }}"
        echo "MAX_VUS is ${{ github.event.inputs.max_vus || '100' }}"
      
    - name: Run K6 Rocket Tests
      uses: grafana/k6-action@v0.3.1
      with:
        filename: rockets/GetRocket.js
      env:
        TEST_TYPE: ${{ vars.TEST_TYPE || github.event.inputs.test_type || 'load' }}
        VUS: ${{ github.event.inputs.virtual_users || '30' }}
        MAX_VUS: ${{ github.event.inputs.max_vus || '100' }}
        
        
    - name: Run K6 Crew Tests
      uses: grafana/k6-action@v0.3.1
      with:
        filename: crew/CreateCrew.js
      env:
        VUS: ${{ github.event.inputs.virtual_users || '30' }}
        MAX_VUS: ${{ github.event.inputs.max_vus || '100' }}

    - name: Upload K6 Performance Reports
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: k6-performance-reports
        path: reports/
        retention-days: 30

    - name: Build and push Docker image
      uses: mr-smithers-excellent/docker-build-push@v6
      with:
        image: agnesvam/spacex_performance
        registry: docker.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

        

