name: K6 Performance Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule: 
   - cron: '0 8 * * 1'   # Auto: Every Monday at 8 AM UTC
  workflow_dispatch:     # Manual: Click "Run workflow" button

jobs:
  k6-tests:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
       token: ${{ secrets.GITHUB_TOKEN }}
       fetch-depth: 0
      
    - name: Custom variables used in this run
      run: echo TEST_TYPE is ${{ vars.TEST_TYPE }}
      
    - name: Run K6 Rocket Tests
      uses: grafana/k6-action@v0.3.1
      with:
        filename: rockets/GetRocket.js
      env:
        TEST_TYPE: ${{ vars.TEST_TYPE }}
        
    - name: Run K6 Crew Tests
      uses: grafana/k6-action@v0.3.1
      with:
        filename: crew/CreateCrew.js

    - name: Upload K6 Performance Reports
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: k6-performance-reports
        path: reports/
        retention-days: 30

    - name: Build and push Docker image
      id: buildAndPushImage
      uses: MaximilianoBz/dockerhub-buildpush@v1.0
      with:
          registry_url: 'docker.io'
          repository_name: 'agnesvam/spacex_performance'
          user_name: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          image_version: 'v1.0'
          docker_file: '.'
      
    - name: Get pre step result output image_pull_url
      run: echo "The time was ${{ steps.buildAndPushImage.outputs.image_pull_url }}"
        

