name: K6 Performance Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  k6-tests:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Display custom environment variables
      run: echo "TEST_TYPE ${{ vars.TEST_TYPE }}"
      
    - name: Run K6 Rocket Tests
      uses: grafana/k6-action@v0.3.1
      with:
        filename: rockets/GetRocket.js
        
    - name: Run K6 Crew Tests
      uses: grafana/k6-action@v0.3.1
      with:
        filename: crew/CreateCrew.js
        
