name: K6 Performance Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  k6-tests:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Custom variables used in this run
      run: echo TEST_TYPE is ${{ vars.TEST_TYPE }}
      
    - name: Run K6 Rocket Tests
      uses: grafana/k6-action@v0.3.1
      with:
        filename: rockets/GetRocket.js
      env:
        TEST_TYPE: ${{ vars.TEST_TYPE }}
        
    - name: Run K6 Crew Tests
      uses: grafana/k6-action@v0.3.1
      with:
        filename: crew/CreateCrew.js
        
    - name: Commit and Push Reports
      if: always()
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add reports/
        git diff --staged --quiet || git commit -m "Add K6 performance reports from workflow run ${{ github.run_number }}"
        git push
